@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
address,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main,
nav {
  display: block;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

.search .search-submit,
#comments .submit {
  padding: 10px 15px;
  border-radius: 2px;
  line-height: 1.85714285714286;
  border: 0;
}

.search .site-main .ast-search-submit {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #eaeaea;
  margin: 0 0px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

fieldset legend {
  margin-bottom: 1.5em;
  padding: 0 0.5em;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Bootstrap Grid
--------------------------------------------------------------*/
/*!
 * Bootstrap v4.0.0-alpha.2 (https://getbootstrap.com)
 */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
.ast-container {
  max-width: 100%;
}

.ast-container-fluid, .ast-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.ast-row {
  margin-right: -20px;
  margin-left: -20px;
}

.ast-grid-common-col {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.ast-float {
  float: right;
}

@media (max-width: 992px) {
  .ast-width-sm-25 {
    width: 25%;
  }
  .ast-width-md-50 {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .ast-width-md-25 {
    width: 25%;
  }
}

.ast-full-width {
  width: 100%;
}

.ast-width-50 {
  width: 50%;
}

@media (min-width: 768px) {
  .ast-width-md-4 {
    width: 33.3333333333%;
  }
  .ast-width-md-16 {
    width: 16.6666666667%;
  }
  .ast-width-md-6 {
    width: 50%;
    float: right;
  }
  .ast-width-md-3 {
    width: 25%;
  }
  .ast-width-md-66 {
    width: 66.6666666667%;
  }
}

@media (min-width: 769px) {
  .ast-width-md-20 {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .ast-width-lg-33 {
    width: 33.3333333333%;
  }
  .ast-width-lg-16 {
    width: 16.6666666667%;
  }
  .ast-width-lg-50 {
    width: 50%;
  }
  .ast-width-lg-66 {
    width: 66.6666666667%;
  }
}

/*--------------------------------------------------------------
# Site Variables
--------------------------------------------------------------*/
/*----------  Font Size  ----------*/
/*----------  Line Height  ----------*/
/*----------  Site Basic Structure  ----------*/
/*----------  z-index Structure   ----------*/
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1,
.entry-content h1 {
  color: #808285;
  font-size: 2em;
  line-height: 1.2;
}

h2,
.entry-content h2 {
  color: #808285;
  font-size: 1.7em;
  line-height: 1.3;
}

h3,
.entry-content h3 {
  color: #808285;
  font-size: 1.5em;
  line-height: 1.4;
}

h4,
.entry-content h4 {
  color: #808285;
  line-height: 1.5;
  font-size: 1.3em;
}

h5,
.entry-content h5 {
  color: #808285;
  line-height: 1.6;
  font-size: 1.2em;
}

h6,
.entry-content h6 {
  color: #808285;
  line-height: 1.7;
  font-size: 1.1em;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  color: #808285;
  background: #ffffff;
  /* Fallback for when there is no custom background color defined. */
  font-style: normal;
}

ul, ol {
  margin: 0 3em 1.5em 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-right: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

b, strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote,
q {
  quotes: "" "";
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote {
  border-right: 5px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  font-size: 1.2em;
  font-style: italic;
  margin: 0 0 1.5em;
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.6em;
  overflow: auto;
  max-width: 100%;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.ast-button,
.button,
button,
input,
select,
textarea {
  color: #808285;
  font-weight: normal;
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

button,
input {
  line-height: normal;
  /* Addresses FF3/4